<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  

  <body>

    {%- include header.html -%}

    {%- if page.bannerImageUrl -%}
    <div class="banner-image-container">
      <img src="{{ page.bannerImageUrl | relative_url }}" height="auto" width="auto" />
      
      {%- if page.bannerImageLabel -%}
        <div class="banner-image-label">{{ page.bannerImageLabel }}</div>
      {%- endif -%}
    </div>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
